@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: "Courier New", Monaco, 'Andale Mono', monospace;
    font-weight: bolder;
    font-size: 12px;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    /*display: inline-block;*/
    margin: 0
}